<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editorActions">
     
      <editorContribution
            id="org.addondev.debug.BreakpointRulerActions"
            targetID="org.addondev.editor.javascript">
         <action
               actionID="RulerDoubleClick"
               class="org.addondev.debug.ui.actions.AddonDevBreakpointRulerActionDelegate"
               id="org.addondev.debug.BreakpointRulerAction"
               label="Add Breakpoint">
         </action>
      </editorContribution>n>
      <editorContribution
            id="org.addondev.debug.SelectLineRulerActions"
            targetID="org.addondev.editor.javascript">
         <action
               actionID="RulerClick"
               class="org.addondev.SelectLineRulerActionDelegate"
               id="org.addondev.debug.SelectLineRulerAction"
               label="SelectLine">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.addondev.debug.ui.launching.AddonDevTabGroup"
            id="org.addondev.debug.ui.launchConfigurationTabGroup.js"
            type="org.addondev.debug.core.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.addondev.debug.core.launching.AddonDevLaunchDelegate"
            id="org.addondev.debug.core.launchConfigurationType"
            modes="run, debug"
            name="AddonDev"
            public="true"
            sourceLocatorId="org.addondev.debug.core.addondevsourcelocatorcator"
            sourcePathComputerId="org.addondev.debug.core.addondevsourcepathcomputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.addondev.debug.core.model.AddonDevLineBreakpoint"
            id="org.addondev.debug.linebreakpoint"
            markerType="org.addondev.debug.marktype.linebreakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.addondev.debug.ui.model.AddonDevDebugModelPresentation"
            id="org.addondev.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.addondev.debug.ui.launching.LaunchShortcut"
            icon="icons/addon.png"
            id="orgaddondev.debug.ui.addondevlaunchshortcut"
            label="Addon Run"
            modes="run, debug">
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
         <configurationType
               id="org.addondev.debug.core.launchConfigurationType">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.js">
                        </test>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.xul">
                        </test>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="jp.javascript.debug"
            name="JavaScriptDev">
      </category>
      <view
            class="org.addondev.debug.ui.PseudoSplitView"
            id="org.addondev.debug.ui.PseudoSplitView"
            name="name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.addondev.preferences.AddonDevPreferencePage"
            id="org.addondev.debug.preferencepages"
            name="AddonDev">
      </page>
      <page
            category="org.addondev.debug.preferencepages"
            class="org.addondev.preferences.JavaScriptEditorPreferencePage"
            id="AddonDev.page1"
            name="name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.addondev.editor.javascript.JavaScriptEditor"
            default="false"
            extensions="js"
            id="org.addondev.editor.javascript"
            name="AddonDev JavaScript Editor">
      </editor>
      <editor
            class="org.addondev.editor.xul.XULEditor"
            default="false"
            extensions="xul"
            id="org.addondev.editor.xul"
            name="AddonDev XUL Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.addondev.category.wizard.new"
            name="Addon Dev">
      </category>
      <wizard
            category="org.addondev.category.wizard.new"
            class="org.addondev.wizard.AddonDevNewProjectWizard"
            hasPages="true"
            icon="icons/addon.png"
            id="org.addondev.wizzard.addondevwizard"
            name="AddonDev Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.addondev.category.wizard.import"
            class="org.addondev.wizard.AddonDevImportWizard"
            id="org.addondev.wizard.addonimportwizard"
            name="Firefox Addon">
      </wizard>
      <category
            id="org.addondev.category.wizard.import"
            name="Addon Dev">
      </category>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.addondev.debug.core.launchConfigurationType"
            icon="icons/addon.png"
            id="org.addondev.debug.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         id="org.addondev.debug.marktype.linebreakpoint"
         name="AddonDev Line BreakPointMarker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="AddonDev.category1"
            name="name">
      </category>
      <command
            categoryId="AddonDev.category1"
            id="AddonDev.command1"
            name="name cmd">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.addondev.editor.javascript.actions.samplehandler"
            commandId="AddonDev.command1">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=additions">
         <command
               commandId="AddonDev.command1"
               label="test"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/addondev_nature.png"
            id="org.addondev.nature.image"
            natureId="org.addondev.nature">
      </image>
   </extension>
   <extension
         id="addondevnature"
         name="addondevNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.addondev.core.AddonDevNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="AddonDev.command1"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.addondev.preferences.AddonDevPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.addondev.debug.editpopupactions"
            targetID="#TextRulerContext">
         <action
               class="org.addondev.debug.ui.actions.AddonDevBreakpointRulerActionDelegate"
               id="AddonDev.action1"
               label="Add Breakpoint"
               menubarPath="debug">
         </action>
         <action
               class="org.addondev.debug.ui.actions.AddonDevBreakpointPropertiesRulerActionDelegate"
               id="org.addondev.action4"
               label="bpplabel"
               menubarPath="debug">
         </action>
      </viewerContribution>
      <viewerContribution
            id="org.addondev.viewerContribution1"
            targetID="#AddonDevJavascriptEditContext">
         <action
               class="org.addondev.debug.ui.actions.AddonDevWatchExpressionAction"
               id="org.addondev.debug.ui.actions.AddonDevWatchExpression"
               label="Watch"
               menubarPath="additions">
         </action>
      </viewerContribution>
      <objectContribution
            adaptable="true"
            id="org.addondev.objectContribution2"
            objectClass="org.addondev.debug.core.model.AddonDevLineBreakpoint">
         <menu
               id="org.addondev.menu1"
               label="label">
         </menu>
         <action
               class="org.addondev.Action3"
               id="org.addondev.action3"
               label="label2">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.addondev.debug.core.AddonDevSourcePathComputerDelegate"
            id="org.addondev.debug.core.addondevsourcepathcomputer">
      </sourcePathComputer>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.addondev.debug.core.AddonDevPersistableSourceLocator"
          	id="org.addondev.debug.core.addondevsourcelocatorcator"
            name="name">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
            debugModel="org.addondev.debug"
            delegateClass="org.addondev.debug.core.AddonDevWatchExpressionDelegate">
      </watchExpressionDelegate>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.addondev.templates.JavaScriptTemplateContextType"
            id="org.addondev.templates.javascript"
            name="JavaScript">
      </contextType>
      <include
            file="templates/code/javascript_templates.xml">
      </include>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.addondev.debug.ui.propertypages.AddonDevBreakPointPropertyPage"
            id="org.addondev.debug.ui.propertypages.AddonDevBreakPointPropertyPage"
            name="breakpoint"
            objectClass="org.addondev.debug.core.model.AddonDevLineBreakpoint">
      </page>
   </extension>

</plugin>
