<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FileDataModelContainer" connectionString="metadata=res://*/FileDataModel.csdl|res://*/FileDataModel.ssdl|res://*/FileDataModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=file.db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>