<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.addondev.debug.ui.launching.AddonDevTabGroup"
            id="org.addondev.debug.ui.launchConfigurationTabGroup.js"
            type="org.addondev.debug.core.launchConfigurationType">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.addondev.debug.core.launching.AddonDevLaunchDelegate"
            id="org.addondev.debug.core.launchConfigurationType"
            modes="run, debug"
            name="AddonDev"
            public="true"
            sourceLocatorId="org.addondev.debug.core.addondevsourcelocatorcator"
            sourcePathComputerId="org.addondev.debug.core.addondevsourcepathcomputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.addondev.debug.core.model.AddonDevLineBreakpoint"
            id="org.addondev.debug.linebreakpoint"
            markerType="org.addondev.debug.marktype.linebreakpoint">
      </breakpoint>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.addondev.debug.ui.model.AddonDevDebugModelPresentation"
            id="org.addondev.debug">
      </debugModelPresentation>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.addondev.debug.ui.launching.LaunchShortcut"
            icon="icons/addon.png"
            id="orgaddondev.debug.ui.addondevlaunchshortcut"
            label="Addon Run"
            modes="run, debug">
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective>
         <configurationType
               id="org.addondev.debug.core.launchConfigurationType">
         </configurationType>
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.js">
                        </test>
                        <test
                              property="org.eclipse.debug.ui.matchesPattern"
                              value="*.xul">
                        </test>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.addondev.debug.core.launchConfigurationType"
            icon="icons/addon.png"
            id="org.addondev.debug.ui.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.addondev.debug.core.AddonDevSourcePathComputerDelegate"
            id="org.addondev.debug.core.addondevsourcepathcomputer">
      </sourcePathComputer>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="org.addondev.debug.core.AddonDevPersistableSourceLocator"
            id="org.addondev.debug.core.addondevsourcelocatorcator"
            name="name">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.watchExpressionDelegates">
      <watchExpressionDelegate
            debugModel="org.addondev.debug"
            delegateClass="org.addondev.debug.core.AddonDevWatchExpressionDelegate">
      </watchExpressionDelegate>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.addondev.debug.BreakpointRulerActions"
            targetID="org.addondev.ui.editor.javascript">
         <action
               actionID="RulerDoubleClick"
               class="org.addondev.debug.ui.actions.AddonDevBreakpointRulerActionDelegate"
               id="org.addondev.debug.BreakpointRulerAction"
               label="Add Breakpoint">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.addondev.ui.preferencepages"
            class="org.addondev.ui.preferences.DebugPreferencePage"
            id="org.addondev.ui.preferences.DebugPreferencePage"
            name="Debug">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="org.addondev.debug.editpopupactions"
            targetID="#TextRulerContext">
         <action
               class="org.addondev.debug.ui.actions.AddonDevBreakpointRulerActionDelegate"
               id="AddonDev.action1"
               label="Add Breakpoint"
               menubarPath="debug">
         </action>
         <action
               class="org.addondev.debug.ui.actions.AddonDevBreakpointPropertiesRulerActionDelegate"
               id="org.addondev.action4"
               label="bpplabel"
               menubarPath="debug">
         </action>
      </viewerContribution>
      <viewerContribution
            id="org.addondev.viewerContribution1"
            targetID="#AddonDevJavascriptEditContext">
         <action
               class="org.addondev.debug.ui.actions.AddonDevWatchExpressionAction"
               id="org.addondev.debug.ui.actions.AddonDevWatchExpression"
               label="Watch"
               menubarPath="additions">
         </action>
      </viewerContribution>
   </extension>
   <extension
         point="org.addondev.ui.editor.javascript.texthover">
      <new_element
            class="org.addondev.debug.ui.editor.texthover.JavaScriptTextHover">
      </new_element>
   </extension>

</plugin>
