<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="org.addondev.builder" name="builder" schema="schema/org.addondev.builder.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="jp.javascript.debug"
            name="JavaScriptDev">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.addondev.ui.preferences.AddonDevPreferencePage"
            id="org.addondev.ui.preferencepages"
            name="AddonDev">
      </page>
   </extension>
   <extension
         id="org.addondev.debug.marktype.linebreakpoint"
         name="AddonDev Line BreakPointMarker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/addondev_nature.png"
            id="org.addondev.nature.image"
            natureId="org.addondev.nature">
      </image>
   </extension>
   <extension
         id="org.addondev.nature"
         name="AddonDevNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.addondev.core.AddonDevNature">
         </run>
      </runtime>
      <builder
            id="org.addondev.core.AddonIncrementalProjectBuilder">
      </builder>
   </extension>
   <extension
         id="org.addondev.core.AddonIncrementalProjectBuilder"
         name="checkfile"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.addondev.builder.AddonIncrementalProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.addondev.preferences.AddonDevPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
