<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.addondev.ui.editor.javascript.texthover" name="javascript.texthover" schema="schema/org.addondev.ui.editor.javascript.texthover.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.addondev.ui.editor.javascript.JavaScriptEditor"
            default="false"
            extensions="js"
            id="org.addondev.ui.editor.javascript"
            name="AddonDev JavaScript Editor">
      </editor>
      <editor
            class="org.addondev.ui.editor.xul.XULEditor"
            default="false"
            extensions="xul"
            id="org.addondev.editor.xul"
            name="AddonDev XUL Editor">
      </editor>
      <editor
            class="org.addondev.ui.editor.xul.preview.XULPreviewForm"
            default="false"
            extensions="xul"
            id="org.addondev.editor.xul.formeditor"
            name="AddonDev XUL Preview">
      </editor>
      <editor
            class="org.addondev.ui.editor.xulmultipageeditor.XULMultiPageEditor"
            default="false"
            extensions="xul"
            id="org.addondev.ui.editor.xulmultipageeditor.XULMultiPageEditor"
            name="XUL">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.addondev.ui.SelectLineRulerActions"
            targetID="org.addondev.ui.editor.javascript">
         <action
               actionID="RulerClick"
               class="org.addondev.ui.actions.SelectLineRulerActionDelegate"
               id="org.addondev.debug.SelectLineRulerAction"
               label="SelectLine">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.addondev.category"
            name="Addon Dev">
      </category>
      <wizard
            category="org.addondev.category"
            class="org.addondev.ui.wizard.AddonDevNewProjectWizard"
            hasPages="true"
            icon="icons/addon.png"
            id="org.addondev.wizzard.addondevwizard"
            name="AddonDev Project"
            project="true">
      </wizard>
      <wizard
            category="org.addondev.category"
            class="org.addondev.ui.wizard.NewJavaScriptFileWizard"
            id="org.addondev.wizard1"
            name="JavaScript File"
            project="false">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="org.addondev.ui.wizard.import"
            class="org.addondev.ui.wizard.AddonDevImportWizard"
            id="org.addondev.wizard.addonimportwizard"
            name="Firefox Addon">
      </wizard>
      <category
            id="org.addondev.ui.wizard.import"
            name="Addon Dev">
      </category>
   </extension>
   <extension
         point="org.addondev.builder">
      <new_element
            class="org.addondev.ui.builder.AddonDevBuilder">
      </new_element>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="org.addondev.ui.template.JavaScriptTemplateContextType"
            id="org.addondev.ui.template.javascript"
            name="JavaScript">
      </contextType>
      <include
            file="templates/code/javascript_templates.xml">
      </include>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="AddonDev.category1"
            name="name">
      </category>
      <command
            categoryId="AddonDev.category1"
            id="AddonDev.command1"
            name="name cmd">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.addondev.ui.editor.javascript.actions.samplehandler"
            commandId="AddonDev.command1">
      </handler>
      <handler
            class="org.addondev.ui.editor.xulmultipageeditor.actions.RefreshHandler"
            commandId="org.addondev.ui.handler1">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="AddonDev.command1"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:edit?after=additions">
         <command
               commandId="AddonDev.command1"
               label="test"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.addondev.ui.preferencepages"
            class="org.addondev.ui.preferences.AddonDevNewProjectPreferencePage"
            id="org.addondev.ui.preferencepages"
            name="AddonDev">
      </page>
      <page
            category="org.addondev.ui.preferencepages"
            class="org.addondev.ui.preferences.XULEditorPreferencePage"
            id="org.addondev.ui.XULPreferencepages"
            name="XUL Editor">
      </page>
      <page
            category="org.addondev.ui.preferencepages"
            class="org.addondev.ui.preferences.JavaScriptEditorPreferencePage"
            id="AddonDev.page1"
            name="name">
      </page>
      <page
            category="org.addondev.ui.preferencepages"
            class="org.addondev.ui.preferences.JavaScriptTemplatePreferencePage"
            id="org.addondev.ui.page1"
            name="name">
      </page>
      <page
            class="org.addondev.ui.WorkbenchPreferencePage1"
            id="org.addondev.ui.page1"
            name="name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.addondev.ui.preferences.AddonDevUIPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.addondev.ui.propertypage.AddonDevPropertyPage"
            id="org.addondev.ui.AddonDevPropertyPage"
            name="name">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
