

/*
CSS2 =
    { ( ruleset | directive ) }
.
QuotedString =
    ( "'" {ANY} "'" | '"' {ANY} '"' )
 
.
URI =
    "url" [ "(" ] ( QuotedString | {ANY} ) [ ")" ]
 
.
medium =
    (
        "all" | "aural" | "braille" | "embossed"
        | "handheld" | "print" | "projection"
        | "screen" | "tty" | "tv"
    )
.
identity =
    (
        ident
        | "n" | "url" | "all" | "aural" | "braille"
        | "embossed" | "handheld" | "print"
        | "projection" | "screen" | "tty" | "tv"
    )
.
directive =
    '@' identity
    [ expr | medium ]
    (
        '{' [ {
            (
              declaration { ';' declaration } [ ';' ]
 
            | ruleset 
            | directive
            )
        } ] '}'
    |
        ';'
    )
 
.
ruleset =
    selector
    { ',' selector }
    '{' [ declaration { ';' declaration } [ ';' ] ] '}'
 
.
selector =
    simpleselector { [ ( '+' | '>' | '~' ) ] simpleselector }
 
.
simpleselector =
    ( identity | '*'
    | ('#' identity | '.' identity | attrib | pseudo )
    )
    { ('#' identity | '.' identity | attrib | pseudo ) }
.
attrib =
    '[' identity [
        ( '=' | "~=" | "|=" | "$=" | "^=" | "*=" )
        ( identity | QuotedString )
    ] ']'
.
pseudo =
    ':' [ ':' ] identity [ '(' expr ')' ]
 
.
declaration =
    identity ':' expr [ "!important" ]
.
expr =
    term { [ ( '/' | ',' ) ] term }
 
.
term =
    (
      QuotedString
    | URI
    | "U\\" identity
    | HexValue
    | identity
        [ { (
            ':' [ ':' ] identity
          | '.' identity
          | '=' ( identity | { digit } )
        ) } ]
 
        [ '(' expr ')' ]
    |
        [ ( '-' | '+' ) ]
 
        { digit }
        [ '.' { digit } ]
        [ (
              "n" [ ( "+" | "-" ) digit { digit } ]
            | "%"
            | identity
        ) ]
    )
.
HexValue =
    '#'
 
    [ { digit } ]
    [ ident ]
.
*/

@import url(xxx1.css);
@import "xxx2.css";


@namespace "http1";
@namespace url("http2");
@namespace xul "http3";
@namespace xul url("http4");

#test1, 
test2,
#noscript-statusIcon.noscript-inactive-yes
 {
  display: -moz-box;
  padding-left: 3px;
  padding-right: 3px;
  -moz-border-bottom-colors: #222 #888 #222;
}

#test3:hover[state="active"],test4:hover { 
  -moz-image-region: rect(16px, 16px, 32px, 0px);
  -list-style-image: url("chrome://test/content/test.png");
}

test4.test5{ 
  -moz-image-region: rect(16px 16px 32px 0px);
  -list-style-image: url("chrome://test/content/test.png");
}
