.list {
	border-top: 2px solid #ff9d9d;
	padding-top: 1px; 
	width: 100%;
}

.text {
	border:3px #FF0000 solid;
	padding: 5px;
	margin: 10px;
}

.tools {
	background-color: gray;
}

.tools2 {
	background-color: blue;
}

.operate {
	margin: 3px;
}

:hover.operate  { background-color: #b03 }

.URILink {
	width: 100px;
	height: 100px;
}

