
body {
/*
 background-color:#E3E4E5;
 background-image:url(haikei05.gif);
 background-repeat:repeat;
 color:#626264;
*/
 font-size:100%;
 line-height:150%;
/*
 font-family:sans-serif;
*/
 font-family: 'Lucida Grande', 'ＭＳ ゴシック';
 padding:0 8% 0 8%;
 margin:0;
 width:auto;
}
 /*
body { font-family: 'Lucida Grande', 'ＭＳ ゴシック'; font-size: small; line-height: 14px; }
*/

.list {
	border-top: 2px solid #ff9d9d;
	padding-top: 1px; 
	width: 100%;
}

.text {
	border:3px #FF0000 solid;
	padding: 5px;
	margin: 10px;
}

.tools {
	background-color: gray;
}

.tools2 {
	background-color: blue;
}

.operate {
	margin: 3px;
}

:hover.operate  { background-color: #b03 }

.URILink {
	width: 100px;
	height: 100px;
}

